{% extends 'base.html' %}

{% block title %}
	Index page
{% endblock %}

{% block content %}
    <form action="" method="get" enctype="multipart/form-data">
        {{ form.as_p }}
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            	<tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.get_genre_display }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}